#*
 * Copyright 2020 clocken
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
*#

<script type="text/javascript">
// <![CDATA[
    function disableByAppLink(appLink) {
        alert(AJS.$("#selected_plan_for_" + appLink + "_id").val());
    }
// ]]>
</script>

<tr>
    <td class="fieldLabelArea">
        $i18n.getText("bamboo-plan-runner.postfunction.label.applink")
    </td>
    <td nowrap>
        <select id="selected_applink_id"
                name="selected_applink"
                onchange="disableByAppLink(this.value)">
            <option value="TEST">TEST</option>
        #foreach( $applink in $applinks )
            <option value="$applink.id"
            #if( $applink.id.equals($selected_applink) )
                    selected
            #end
            >$applink.name</option>
        #end
        </select>
    </td>
</tr>

#foreach( $applink in $applinks )
    <tr>
        <td class="fieldLabelArea">
            $i18n.getText("bamboo-plan-runner.postfunction.label.plan")
        </td>
        <td nowrap>
            <select id="selected_plan_for_${applink.id}_id"
                    name="selected_plan_for_${applink.id}">
            #foreach( $plan in $plans_by_applink.get($applink.id) )
                <option value="${applink.id}_${plan.key}"
                #if( !$plan.enabled )
                        title="$i18n.getText('bamboo-plan-runner.postfunction.title.plan.disabled')"
                        disabled
                #end
                #set( $selected_plan_for_applink_var = "$selected_plan_for_${applink.id}" )
                #set( $selected_plan_for_applink = "#evaluate( $selected_plan_for_applink_var )" )
                #if( "${applink.id}_${plan.key}" == "$selected_plan_for_applink" )
                        selected
                #end
                >$plan.name - $plan.key</option>
            #end
            </select>
        </td>
    </tr>

    #foreach( $plan in $plans_by_applink.get($applink.id) )
        <table>
            <thead>
                <tr>
                    <th>
                        $i18n.getText("bamboo-plan-runner.postfunction.variable.table.header.use.variable")
                    </th>
                    <th>
                        $i18n.getText("bamboo-plan-runner.postfunction.variable.table.header.value")
                    </th>
                <tr>
            <thead>
            <tbody>
            #foreach( $variable in $plan.variables )
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" 
                                   name="use_${applink.id}_${plan.key}_${variable}"
                            #if( $variables_to_use.contains("use_${applink.id}_${plan.key}_${variable}") )
                                checked
                            #end />
                            $variable
                        </label>
                    </td>
                    <td>
                        <select id="selected_field_for_${applink.id}_${plan.key}_${variable}_id"
                                name="selected_field_for_${applink.id}_${plan.key}_${variable}">
                        #foreach( $field in $fields )
                            <option value="$field.id"
                            #if( $field.id.equals($selected_fields_by_variable.get("selected_field_for_${applink.id}_${plan.key}_${variable}")) )
                                    selected
                            #end
                            >$i18n.getText($field.nameKey)</option>
                        #end
                        </select>
                    </td>
                </tr>
            #end
            </tbody>
        </table>
    #end
#end