#*
 * Copyright 2020 clocken
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
*#

#set( $selected_plan_for_applink_var = "$selected_plan_for_${selected_applink}" )
#set( $selected_plan_for_applink = "#evaluate( $selected_plan_for_applink_var )" )

<script type="text/javascript">
// <![CDATA[
    // Enable AUI in the editing form
    AJS.toInit( function() {
        if( AJS.$( "form[action='AddWorkflowTransitionFunctionParams.jspa']" ).length === 1 ) {
            AJS.$( "form[action='AddWorkflowTransitionFunctionParams.jspa']" ).addClass( "aui" );
            // We're adding a new PostFunction, so make a default selection
            defaultApplink = "$applinks.iterator().next().id";
            defaultPlan = "$plans_by_applink.values().iterator().next().iterator().next().key";
            togglePlanSelectionForApplink( defaultApplink );
            toggleVariableSelectionForPlan( defaultApplink + "_" + defaultPlan );
        } else {
            AJS.$( "form[action='EditWorkflowTransitionPostFunctionParams.jspa']" ).addClass( "aui" );
            // We're editing a PostFunction
            togglePlanSelectionForApplink( "$selected_applink" );
            toggleVariableSelectionForPlan( "$selected_plan_for_applink" );
        }
    } );
    #include( "/templates/postfunctions/js/config-functions.js" )
// ]]>
</script>

#parse( "/templates/postfunctions/applink-selection.vm" )

#foreach( $applink in $applinks )

    #parse( "/templates/postfunctions/plan-selection.vm" )

    #foreach( $plan in $plans_by_applink.get($applink.id) )

        #parse( "/templates/postfunctions/variable-selection-table.vm" )

    #end
#end